name: Test Code and Publish Report

on:
  - push
  - workflow_call

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Download GO
        uses: actions/setup-go@v3
        with:
          go-version: '1.18.3'

      - name: Install Dependencies
        run: go get .

      - name: Run GO Tests
        run: go test . -v

      - name: Dependency Review
        uses: actions/dependency-review-action@v1

  security:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v3

      - name: Download GO
        uses: actions/setup-go@v3
        with:
          go-version: '1.18.3'

      - name: Install Dependencies
        run: go get .

#      Run DevSkim for Vulnerabilities - https://github.com/Microsoft/DevSkim
      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@v1

      - name: Upload DevSkim scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: devskim-results.sarif

#      SonarCloud Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

#     Snyk - https://github.com/snyk/cli
      - name: Snyk - Vulnerability Scanner
        uses: snyk/actions/golang@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk.sarif
        - name: Upload result to GitHub Code Scanning
          uses: github/codeql-action/upload-sarif@v2
          with:
            sarif_file: snyk.sarif